* {
   padding: 0;
   margin: 0;
   font-size: 14px;
   text-decoration: none;
   color: #000000;
   list-style: none;
}

body {
   background-color: #111;
}

#container {
   max-width: 1200px;
   height: auto;
   overflow: hidden;
   margin: 0 auto;
}

#top {
   width: 100%;
   height: 50px;
   float: left;
   background-color: #ffffff;
}

.logo {
   width: 45px;
   height: auto;
   float: left;
   margin: 5px;
}

.links_top {
   float: right;
   padding: 10px;
   margin: 5px;
   color: #b31212;
}

#menu {
   width: 100%;
   height: 100px;
   float: left;
   background-color: #679e96;
}

#content {
   width: 100%;
   height: 400px;
   float: left;
   background-color: #679e96;
}

#footer {
   width: 100%;
   height: 100px;
   float: left;
   background-color: #ffffff;
}
